* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
}

.footer {
    padding-block: 250px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

ul {
    list-style-type: none;
}

.footer_logo {
    margin: 20px 0px 50px 50px;
}

.footer__list {
    margin: 20px 0 0 50px;

}

.footer__item_title {
    font-size: 20px;
    margin-bottom: 20px;
    color: aqua;
}

.footer__item {
    font-size: 20px;
    margin-bottom: 30px;
    
    color: #34e578;
}